<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WillowEvents">
        <activity
            android:name=".ProfileView"
            android:exported="false" />
        <activity
            android:name=".InitialView"
            android:exported="false" />
        <activity
            android:name=".organizer.UserListView"
            android:exported="false" />
        <activity
            android:name=".organizer.EventOrganizerEntrantView"
            android:exported="false" />
        <activity
            android:name=".organizer.EventCreationView"
            android:exported="false" />
        <activity
            android:name=".organizer.EventModifyView"
            android:exported="false" />
        <activity
            android:name=".organizer.EventOrganizerInfoView"
            android:exported="false" />
        <activity
            android:name=".organizer.MainOrganizerView"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantHomeView"
            android:exported="false"
            android:theme="@style/Theme.WillowEvents" />
        <activity
            android:name=".entrant.EventEntrantView"
            android:exported="false" />
        <activity
            android:name=".entrant.ViewInvitations"
            android:exported="false" />
        <activity
            android:name=".entrant.NotificationView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>